<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>币价监控工具-主页</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
    <div class="mycontainer">
        <header>
            <div></div>
            <a href="/view/add.html" class="btn btn-light btn-set" role="button" style="position: absolute; right: 15px; top: 10px;">添加监控币种</a>
        </header>

        <main>
            <table id="index-table" class="table">
                <colgroup>
                    <col style="width: 70px;">
                    <col style="width: 150px;">
                    <col style="width: 180px;">
                    <col style="width: 150px;">
                    <col style="width: 105px;">
                    <col style="width: 105px;">
                    <col style="width: 90px;">
                    <col style="min-width: 100px;">
                    <col style="width: 200px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>币种</th>
                        <th>当前币价<br>(1 ETH)</th>
                        <th>当前币价更新时间</th>
                        <th>上一次币价<br>（1 ETH）</th>
                        <th>币价<br>波动幅度</th>
                        <th>预警币价<br>(1 ETH)</th>
                        <th>预警波动 (%)</th>
                        <th>错误信息</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </main>

        <footer></footer>
    </div>

    <audio id="audio" controls autoplay loop src="" style="display: none;">
        Your browser does not support the <code>audio</code> element.
    </audio>

    <!-- 取巧实现音频自动播放 -->
    <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>允许自动播放预警提示音</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">允许</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            // 迫使用户手动与页面交互一次，从而取巧实现后续的提示音自动播放功能
            var myModal = new bootstrap.Modal(document.getElementById('myModal'))
            myModal.show()


            setTimeout(() => {
                requestTokenList()
            }, 0)        // 等待服务端重置旧数据，避免不必要的预警。
            function requestTokenList() {
                axios.get('/monitored-tokens')
                    .then(function (res) {
                        const data = res.data
                        // console.log(data, typeof data)

                        let template = ``
                        for (const key in data) {
                            // console.log(key, data[key])
                            const item = data[key]
                            const range = item.currentPrice === 0 || item.lastPrice === 0 ? 0 : (item.currentPrice - item.lastPrice) / item.lastPrice * 100

                            // 列表
                            const warning = checkWarning(item) ? 'warning' : ''
                            template += `<tr class="${warning}">
                                <td>${item.tokenName}</td>
                                <td>${item.currentPrice}</td>
                                <td>${item.updateTime}</td>
                                <td>${item.lastPrice}</td>
                                <td>${range.toFixed(2)}%</td>
                                <td>${item.warningPrice}</td>
                                <td>${item.warningRange}%</td>
                                <td>${item.error}</td>
                                <!-- <td>${item.warningTone.substring(0, item.warningTone.indexOf('.'))}</td> -->
                                <td>
                                    <a href="/view/edit.html?tokenName=${item.tokenName}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="js-delete" href="#" data-token-name="${item.tokenName}">取消监控</a>
                                </td>
                            </tr>`
                            document.querySelector('#index-table tbody').innerHTML = template

                            // 预警
                            if (checkWarning(item)) {
                                document.querySelector('#audio').setAttribute('src', `/static/audio/${item.warningTone}`)
                                document.querySelector('#audio').play()
                            } else {
                                // document.querySelector('#audio').pause()
                            }
                        }
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);

                        // 程序异常导致无法监控时，播放另一种预警提示音。
                        document.querySelector('#audio').setAttribute('src', `/static/audio/PoliceSiren.mp3`)
                        document.querySelector('#audio').play()
                    })

                    setTimeout(() => {
                        requestTokenList()
                    }, 12000);
            }

            document.querySelector('#index-table').addEventListener('click', function (e) {
                for (var target = e.target; target && target != this; target = target.parentNode) {
                    if (target.matches('.js-delete')) {
                        console.log(target, e)
                        deleteMonitoredToken.call(target, e)
                        break
                    }
                }
            }, false)

            function deleteMonitoredToken(e) {
                const tokenName = this.getAttribute('data-token-name')
                // console.log(tokenName)

                if (window.confirm(`确定取消对 ${tokenName} 的监控？`)) {
                    axios.delete(`/monitored-tokens/${tokenName}`)
                        .then(res => {
                            console.log(res.data)
                            const data = res.data

                            if (!data.code) {
                                location.reload()
                            } else {
                                alert(data.msg)
                            }
                        })
                }
            }

            function checkWarning(tokenInfo) {
                let isWarning = false

                // 异常情况
                if (tokenInfo.currentPrice === 0 || tokenInfo.lastPrice === 0) {
                    return isWarning
                }

                // TODO: 规则待完善
                if ((tokenInfo.warningPrice !== 0 && tokenInfo.currentPrice >= tokenInfo.warningPrice) || (tokenInfo.warningRange !== 0 && Math.abs(tokenInfo.currentPrice - tokenInfo.lastPrice) / tokenInfo.lastPrice * 100 >= tokenInfo.warningRange)) {
                    isWarning = true
                }

                return isWarning
            }
        }
    </script>
</body>
</html>
